@media (min-width: 1360px){
  body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    height: 80px;
  }
  
  .slogan {
    font-size: 14px;
    color: #6a6a6a;
  }
  
  .info-container {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }
  
  .info-block {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .info-block i {
    color: #ee2b2b;
    font-size: 25px;
  }
  
  .social-icons a:hover{
    color: #c62828;
  }
  
  .social-icons a {
    margin-left: 10px;
    font-size: 18px;
    color:#ee2b2b;
    padding: 5px;
    font-size: 30px;
    transition: 0.25s ease, color 0.25s ease;
  }
  
  .main-nav {
    background: #f9f9f9;
    border-top: 1px solid #eee;
    padding: 0 40px;
  }

  .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }

  .main-nav li a:hover{
    color: #c62828;
  }
  
  .main-nav a {
    display: inline-block;
    padding: 20px 10px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: 0.2s ease, color 0.2s ease;
    font-size: 18px;
  }

  .dropdown{
    position: relative;
  }

  .dropdown-menu{
    position: absolute;
    display: none;
    z-index: 1000;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
  }

  .dropdown-menu a{
    display: block;
    color: #222222;
    background: linear-gradient(135deg, #f9f9f9, #f1f1f1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu a:hover{
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    box-shadow: 0 8px 24px rgba(183, 28, 28, 0.4);
    color: #fff !important;
  }

  .btn{
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.25s ease, color 0.25s ease;
  }
  
  .btn:hover {
    background-color: #c62828;
    color: #e0e0e0;
    background-image: linear-gradient(147deg, #730000 0%, #ba0101 74%);
  }
  
  .column{
    display: flex;
    flex-direction: column;
  }
  
  .bold{
    font-weight: bold;
  }
  
  .icon-white{
    color: white !important;
    font-size: 20px !important;
    padding-right: 8px;
  }
  /* Header é daqui pra cima  */
  .carousel {
    width: 100%;
    height: 500px;
    position: relative;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: #ee2b2b;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: #c62828;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }
  
  .about-us {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 40px  40px 40px;
    gap: 40px;
    align-items: flex-start;
  }
  
  .text {
    flex: 1;
  }
  
  .text h2 {
    color:#c62828;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 30px;
  }
  
  .text h4 {
    font-size: 2.5em;
    color: #c62828;
    margin-bottom: 20px;
  }
  
  .text p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 20px;
  }
}
